<div class="collection_card_section-{{ section.id }}">
<div class="container">

</div>
</div>

{% schema %}
    {
        "name": "Collection Card",
        "settings": [

        ],
        "presets": [
            {
                "name": "Collection Card",
                "category": "collection"
            }
        ]

    }
{% endschema %}