<<<<<<< HEAD
<div class="footer-section">
    <p>this is footer section</p>
</div>

{% schema %}
{
    "name": "Footer Menu",
    "settings": [
        
        ]
}
=======
<div class="footer-section">
    <p>this is footer section</p>
</div>

{% schema %}
{
    "name": "Footer Menu",
    "settings": [
        
        ]
}
>>>>>>> 9d434078cc80f63aba2f86f7259e55cdcdb8d528
{% endschema %}