<div class="image_with_text_section">

</div>

{% schema %}
{
    "name": "Image with text",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Image with text"
            }
        ]
}
{% endschema %}