<div class="main-product-section" {{ section.id }}>
  <div class="product-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">image part</div>
        <div class="col-md-6">Deails part
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
    "name": "Product template",
    "class": "product-template",
    "settings": [
        
        ]
}
{% endschema %}