    <div class="search-template-section">
        <div class="container">
            <div class="search_header p-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="{{ routes.search_url }}" method="get" role="search">
                            <div class="d-flex ">
                                <input class="form-control mx-2" type="search" name="q" id="searchBox" value="{{ search.terms | escape }}" placeholder="Search Here">
                                <input type="hidden" name="options[prifix]" value="last">
                                <button class="btn btn-primary btn-sm">search</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>