<div class="recently_viewed_section">
    <div class="section_heading">
        <h2 class="section_title">Recently Viewed Products</h2>
    </div>
    <div class="container">
        <div class="row" id="recently_viewed_products"> my data here </div>
    </div>
</div>

{% schema %}
    {
    "name": "Recently Viewed Products",
    "settings": [],
    "presets": [
        {
        "name": "Recently Viewed Products"
        }
    ]
    }
{% endschema %}