<div class="product_recomendation_section"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related">
    <div class="container">
        <div class="section_header">
            <h2 class="section_title py-5">You may also like</h2>
        </div>
        <div class="recomendation_product" id="recomendation_product">
            {% if recommendations.performed? and recommendations.products_count %}
            <div class="row">
                {% for product in recommendations.products %}
                {% render 'card-product', product: product %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var url = $('.product_recomendation_section').data('url');

        fetch(url)
            .then(response => response.text())
            .then(data => {
                var recData = $(data).find('#recomendation_product');
                $('#recomendation_product').replaceWith(recData);
            })
            .catch(err => console.error("Recommendation fetch error:", err));
    });
</script>

{% schema %}
{
"name": "product recomendations",
"settings": [

],
"presets": [
{
"name": "Product Recomendations"
}
]
}
{% endschema %}