<div class="sider_section">

</div>


{% schema %}
{
    "name": "Slider",
    "settings": [
        
        ],
        "presets": [
            {
                "name": "Slider",
                "category": "sliders"
            }
        ]
}
{% endschema %}