<<<<<<< HEAD
<div class="sub-footer">
    <p>thid is sub footer </p>
</div>

{% schema %}
{
    "name": "Sub Footer ",
    "settings": [
        
        ]
}
=======
<div class="sub-footer">
    <p>thid is sub footer </p>
</div>

{% schema %}
{
    "name": "Sub Footer ",
    "settings": [
        
        ]
}
>>>>>>> 9d434078cc80f63aba2f86f7259e55cdcdb8d528
{% endschema %}