html {
  margin: 0;
}

/* header style sart */

.announcementbar {
  background-color: #facc15;
}
p.announce-text.text-center {
  padding: 5px;
  margin-bottom: 0;
}

/* header style end */

/* banner section */

.banner_container{
  position: relative;
}

.banner_content {
  position: absolute;
  bottom: 200px;
  max-width: 50%; 
  text-align: left;
  word-wrap: break-word;
}

/* banner section */
