html {
  margin: 0;
}

/* header style sart */

.announcementbar {
  background-color: #facc15;
}
p.announce-text.text-center {
  padding: 5px;
  margin-bottom: 0;
}

/* header style end */

/* banner section */

.image-banner-main .banner-img {
  width: 100%;
  height: auto;
  display: block; 
}

.image-banner-main{
  position: relative;
}

.banner_main{
  position: absolute;
  top: 40%;
  left: 50px;
}



.banner_content {
  max-width: 50%; 
  text-align: left;
  word-wrap: break-word;
}

/* banner section */
