.product-media img {
  width: 100%;
  height: auto;
}

button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    border-radius: 5px;
    height: 20px;
    background: #0D6AF4;
}
button.shopify-payment-button__button.shopify-payment-button__button--unbranded:hover {
    background: #0a4ed1;
}